
<div class='card'> <!-- Card Principal -->
  <div class='card-body'>
    
    <h2 class='title'><%= @user.fullname? ? @user.fullname : "Sem nome" %></h2>

    <div class='columns'>
      <div class='column is-3'>
        <div class='card text-center' style='display:flex;justify-content:center;align-items:center;'>
          <div class='card-body'>
            <figure class="image is-6by4" style='margin-bottom:15px;'>
              <%= image_tag('https://via.placeholder.com/150C/', class:'is-rounded') %>
            </figure>

            <h3>Cancel my account</h3>

            <p>Unhappy? <br><br><%= button_to "Cancel my account", cancel_user_registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class:'button is-danger' %></p>
          </div>
        </div>
      </div>
      <div class='column'>
        <h2 class='title'>My information</h2>
        <div class='card'>
          <div class='card-body'>
            <%= render 'edit_profile' %>
          </div>
        </div>
      </div>
    </div>
    <div class='columns'>
      <div class='column'>
        <div class='card text-center'>
          <header class='card-header'>
            <div class="tabs is-centered is-small is-mobile">
              <ul>
                <li class="is-active">
                  <a>
                    <span class="icon is-small"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <span>Followers</span> &nbsp;(<%= @user.followed_count %>)
                  </a>
                </li>
                <li>
                  <a>
                    <span class="icon is-small"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <span>Following</span> &nbsp;(<%= @user.following_count %>)
                  </a>
                </li>
                <li>
                  <a>
                    <span class="icon is-small"><i class="fa fa-comments" aria-hidden="true"></i></span>
                    <span>Last Tweets</span> &nbsp;(<%= @user.tweets_count %>)
                  </a>
                </li>
                <li>
                  <a>
                    <span class="icon is-small"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <span>Likes</span> &nbsp;(<%= @user.likes_count %>)
                  </a>
                </li>
              </ul>
            </div>
          </header>
          <div class='card-body'>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
