
<div class='card'> <!-- Card Principal -->
  <div class='card-body'>
    
    <h2 class='title'><%= @user.fullname? ? @user.fullname : "Sem nome" %></h2>

    <div class='columns'>
      <div class='column is-3'>
        <div class='card text-center'>
          <div class='card-body'>
            <figure class="image is-1by1" style='margin-bottom:15px;'>
              <%= image_tag('https://via.placeholder.com/150C/', class:'is-rounded') %>
            </figure>

            <h3>Cancel my account</h3>

            <p>Unhappy? <br><br><%= button_to "Cancel my account", cancel_user_registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class:'button is-danger' %></p>
          </div>
        </div>
      </div>
      <div class='column'>
        <div class='card'>
          <div class='card-body'>
            <%= form_with url: users_backoffice_profile_update_path, method: :put, local: true do |f| %>

              <div class="field">
                <p class='control has-icons-left'>
                  <%= f.text_field :fullname, autofocus: true, class:'input', placeholder:'Meu nome completo' %>
                  <span class='icon is-small is-left'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                  </span>
                </p>
              </div>

              <div class="field">
                <p class="control has-icons-left">
                  <%= f.email_field :email, autofocus: true, placeholder: "email@example.com", class:'input' %>
                  <span class="icon is-small is-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                    </svg>
                  </span>
                </p>
              </div>

              <div class="field">
                <p class="control has-icons-left">
                  <%= f.password_field :current_password, autocomplete: "current-password", class:'input', placeholder:'Senha atual' %>
                  <span class="icon is-small is-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                  </span>
                </p>
              </div>

              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <%= f.password_field :password, autocomplete: "new-password", class:'input', placeholder:'Confirmação de Nova Senha' %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                  <span class="icon is-small is-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                  </span>
                </p>
              </div>

              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input', placeholder:'Confirmação de Nova Senha' %>
                  <span class="icon is-small is-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                  </span>
                </p>
              </div>

              <div class="actions">
                <%= f.submit "Update", class:'button is-primary' %>
                <%= link_to "Back", users_backoffice_tweets_path, class:'button is-danger' %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
