<div class='column is-3'>
  <%= render 'shared/sidebar'%>
</div>

<div class='column'>
  <%= link_to 'New Tweet', new_users_backoffice_tweet_path, class:'button is-link is-small' %><br><br>

  <h1 class='title'>Tweets</h1>

  <div class='columns is-multiline'>
    <% @tweets.each do |tweet| %>
      <div class='column is-full'>
        <div class="card">
          <header class="card-header">
            <figure class="image is-24x24">
              <%= image_tag('https://via.placeholder.com/150C/', class:'is-rounded') %>
            </figure>&nbsp;&nbsp;

            <strong><%= tweet.user.fullname %></strong>
          </header>
          <div class="card-content">
            <div class="content">
              <%= tweet.declaration %>
            </div>
          </div>
          <footer class="card-footer">
            <div class='btn-group'>
              <%= link_to 'Editar', edit_users_backoffice_tweet_path(tweet), class:"button is-primary is-small" %> &nbsp;
              <%= link_to 'Deletar', users_backoffice_tweet_path(tweet), method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-danger is-small" %>
            </div>
          </footer>
        </div>
      </div>
    <% end %>
  </div>
</div>
