<div class='columns is-multiline'>
  <div class='column is-3'>
    <%= render 'shared/sidebar'%>
  </div>

  <div class='column'>
    <nav class='navbar is-transparent'>
      <div class='navbar-start'>
        <h4 class='title is-4'>Home Page</h4>
      </div>
    </nav>

    <div class='card'>
      <header class='card-header'>
        <figure class="image is-32x32">
          <%= image_tag('https://via.placeholder.com/150C/', class:'is-rounded') %>
        </figure>&nbsp;&nbsp;

        <strong><%= current_user.fullname? ? current_user.fullname : 'Sem nome' %></strong>
      </header>
      <div class='card-body'>
        <%= render 'form', tweet: Tweet.new %>
      </div>
    </div><br>

    <div class='columns is-multiline'>
      <% @tweets.each do |tweet| %>
        <div class='column is-full'>
          <div class="card">
            <header class="card-header">
              <nav class='navbar-menu is-transparent'>
                <div class='navbar-start'>
                  <figure class="image is-32x32">
                    <%= image_tag('https://via.placeholder.com/150C/', class:'is-rounded') %>
                  </figure>&nbsp;&nbsp;
                  <p class='is-size-5'>
                    <strong><%= tweet.user.fullname? ? tweet.user.fullname : 'Sem nome' %></strong>
                  </p>
                </div>
                <div class='navbar-end'>
                  <%= link_to edit_users_backoffice_tweet_path(tweet) do %>
                    <span class='icon'>
                      <i class='fa fa-pencil'></i>
                    </span>
                  <% end %> &nbsp;
                  <%= link_to users_backoffice_tweet_path(tweet), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class='icon'>
                      <i class='fa fa-trash'></i>
                    </span>
                  <% end %> &nbsp;
                </div>
              </nav>
            </header>
            <div class="card-content">
              <div class="content">
                <%= tweet.declaration %>
              </div>
            </div>
            <footer class="card-footer">
              <div class='btn-group'>
                <%= link_to users_backoffice_like_tweet_path(tweet), method: :post do %>
                  <span class='icon'>
                    <i class='fa fa-thumbs-up'></i>
                  </span>
                <% end %> &nbsp;
                <%= link_to users_backoffice_dislike_tweet_path(tweet), method: :post do %>
                  <span class='icon'>
                    <i class='fa fa-thumbs-down'></i>
                  </span>
                <% end %>
              </div>
            </footer>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @tweets %>
  </div>
</div>
