<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <title>MyTwitterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'users_backoffice', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/navbar' %>

    <div class='container'>
      <% flash.each do |type, message| %>
        <div class="notification is-success">
          <button class='delete'></button>
          <%= message %>
        </div>
      <% end %>
      
      <%= yield %>
    </div>

    <script>
      $(document).ready(function() {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
      });
    </script>
  </body>

  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'users_backoffice' %>
</html>
